.theme-white {
  background: #ffffff;
}
.theme-white .page-header {
  background: transparent;
  border-color: #e8e8e8;
}
.theme-white .table,
.theme-white .panel,
.theme-white hr {
  border-color: #e5e5e5;
}
.theme-white .bordered {
  border-color: #e5e5e5;
}
.theme-white .bordered[class*='bg-'],
.theme-white [class*='bg-'] .border-t {
  border-color: #fff;
  border-color: rgba(0, 0, 0, 0.2);
}
.theme-white .panel.panel-transparent > .panel-heading {
  border-bottom-color: #e5e5e5 !important;
}
.theme-white .breadcrumb-page {
  background: transparent;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 6px;
  padding-top: 6px;
}
.theme-white #main-navbar .navbar-header a {
  color: #777777;
}
.theme-white #main-navbar .navbar-header,
.theme-white #main-navbar .navbar-collapse {
  background: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.theme-white #main-navbar .navbar-collapse {
  border-top: 1px solid #e1e1e1;
}
.theme-white #main-navbar .dropdown > a,
.theme-white #main-navbar .dropdown-menu > li > a,
.theme-white #main-navbar .nav > li > a {
  color: #777777;
}
.theme-white #main-navbar .navbar-toggle {
  color: #777777;
}
.theme-white #main-navbar #main-menu-toggle {
  background: #ffffff;
  color: #777777;
}
.theme-white #main-navbar #main-menu-toggle .fa:before {
  color: #777777;
}
.theme-white #main-navbar li + li,
.theme-white #main-navbar .nav + .nav,
.theme-white #main-navbar .nav + .right {
  border-top: 1px solid #e1e1e1;
}
.theme-white #main-navbar .dropdown.open > a {
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #dadada;
  margin-top: -1px;
  background: #e1e1e1;
}
.theme-white #main-navbar form.navbar-form {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.theme-white #main-navbar form.navbar-form .form-control {
  background: #fff;
  border-color: #eeeeee;
  border-radius: 999999px;
}
@media (min-width: 768px) {
  .theme-white #main-navbar li + li,
  .theme-white #main-navbar .nav + .nav,
  .theme-white #main-navbar .nav + .right {
    border-top: none;
  }
  .theme-white #main-navbar .navbar-collapse {
    border-top: none;
  }
  .theme-white #main-navbar .nav > li > a:hover {
    background: #e6e6e6;
  }
  .theme-white #main-navbar .dropdown.open > a {
    border-top: none;
    border-bottom: none;
    margin-top: 0;
    background: #e6e6e6;
  }
  .theme-white #main-navbar .dropdown-menu {
    border-radius: 2px;
    margin-top: 3px;
    padding: 5px 0;
  }
  .theme-white #main-navbar .dropdown-menu > li > a {
    color: #555555;
  }
  .theme-white #main-navbar .dropdown-menu > li > a:hover {
    background: #f6f6f6;
  }
}
.theme-white #main-menu-bg,
.theme-white .mmc-dropdown-open-ul {
  background: #ffffff;
}
.theme-white #main-menu #main-menu-inner {
  padding-top: 10px;
}
.theme-white #main-menu .navigation li a,
.theme-white #main-menu .mmc-dropdown-open-ul li a {
  color: #8b9298;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.theme-white #main-menu .navigation li a:hover,
.theme-white #main-menu .mmc-dropdown-open-ul li a:hover {
  color: #414549;
}
.theme-white #main-menu .navigation li.active > a,
.theme-white #main-menu .mmc-dropdown-open-ul li.active > a {
  color: #414549;
  background: #f6f6f6;
}
.theme-white #main-menu .mm-dropdown.active > a {
  background: none !important;
}
.theme-white #main-menu .mmc-dropdown-open > a {
  color: #414549 !important;
}
.theme-white #main-menu .mmc-title {
  color: #414549;
  background: #ffffff;
}
.theme-white #main-menu .mmc-dropdown-open-ul {
  border: 1px solid #e8e8e8;
  margin-top: -1px;
}
.theme-white #main-menu .menu-content {
  border-color: #e8e8e8;
}
.theme-white #main-menu .menu-content .btn-outline {
  border-color: #e8e8e8;
  color: #8b9298;
}
.theme-white #main-menu .menu-content .btn-outline:hover,
.theme-white #main-menu .menu-content .btn-outline:active {
  border-color: transparent;
  color: #fff;
}
.theme-white #main-menu .menu-content.top {
  margin-top: -10px;
}
.theme-white .mmc-dropdown-open .mm-dropdown.open > a,
.theme-white.mme #main-menu .mm-dropdown.open > a {
  color: #414549 !important;
}
@media (min-width: 768px) {
  .theme-white #main-menu .mm-dropdown.open > a {
    color: #414549;
  }
  .theme-white.mmc #main-menu .navigation > .mm-dropdown.open > a {
    color: #8b9298;
  }
}
.theme-white #main-menu-bg,
.theme-white #main-menu .navigation li.active > a,
.theme-white.right-to-left.main-menu-right #main-menu-bg,
.theme-white.right-to-left.main-menu-right #main-menu .navigation li.active > a {
  border-left: none;
  border-right: 1px solid #e8e8e8;
}
.theme-white #main-menu .mmc-dropdown-open-ul,
.theme-white.right-to-left.main-menu-right #main-menu .mmc-dropdown-open-ul {
  margin-left: -1px !important;
  margin-right: 0 !important;
}
.theme-white.right-to-left #main-menu-bg,
.theme-white.right-to-left #main-menu .navigation li.active > a,
.theme-white.main-menu-right #main-menu-bg,
.theme-white.main-menu-right #main-menu .navigation li.active > a {
  border-left: 1px solid #e8e8e8;
  border-right: none;
}
.theme-white.right-to-left #main-menu .mmc-dropdown-open-ul,
.theme-white.main-menu-right #main-menu .mmc-dropdown-open-ul {
  margin-left: 0 !important;
  margin-right: -1px !important;
}
.theme-white .demo-logo {
  background: #ffffff;
}
.theme-white #main-navbar .navbar-brand div {
  background: #ffffff;
}
.theme-white #main-navbar .navbar-header a {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
}
.theme-white.page-signin .signin-info,
.theme-white.page-signup .signup-header {
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8);
}
.theme-white .timeline:before,
.theme-white .timeline:after,
.theme-white .tl-header,
.theme-white .tl-icon {
  background: #e6e6e6;
}
.theme-white .tl-header,
.theme-white .tl-icon {
  box-shadow: 0 0 0 4px #ffffff;
}
.theme-white .tl-entry:before {
  background: #004466;
  box-shadow: 0 0 0 3px #ffffff;
}
.theme-white .tl-body:before {
  border-color: transparent #e5e5e5 transparent transparent;
}
@media (min-width: 768px) {
  .theme-white .timeline.centered .tl-entry.left .tl-body:before {
    border-color: transparent transparent transparent #e5e5e5;
  }
  .theme-white.right-to-left .timeline.centered .tl-entry.left .tl-body:before {
    border-color: transparent #e5e5e5 transparent transparent;
  }
}
.theme-white.right-to-left .tl-body:before {
  border-color: transparent transparent transparent #e5e5e5;
}
.theme-white.page-mail .mail-nav,
.theme-white.page-mail .mail-nav:before {
  background: #ffffff;
}
.theme-white.page-mail .mail-nav .sections li.active .label,
.theme-white.page-mail .mail-nav .sections li.active .badge {
  background: #004466;
}
.theme-white.page-mail .mail-nav,
.theme-white.page-mail .mail-nav .compose-btn,
.theme-white.page-mail .mail-nav .sections li.active,
.theme-white.page-mail .mail-nav:before {
  border-color: #e5e5e5;
}
.theme-white.page-mail .mail-nav .navigation.open .sections li.active {
  background: #f5f5f5;
}
.theme-white.page-mail .mail-nav li.divider {
  background: #e5e5e5;
}
.theme-white.page-mail .mail-nav .sections li.active a {
  color: #4d4d4d;
}
.theme-white.page-mail .mail-nav .sections li.active:after {
  color: #b3b3b3;
}
.theme-white.page-mail .mail-nav .sections a {
  color: #737373;
}
.theme-white.page-mail .mail-nav-header {
  color: #b3b3b3;
}
.theme-white.page-mail .mail-nav .add-more a {
  color: #b3b3b3;
}
@media (min-width: 992px) {
  .theme-white.page-mail .mail-nav .navigation .sections li.active {
    background: #f5f5f5;
  }
  .theme-white.page-mail .mail-nav .sections a:hover {
    color: #4d4d4d;
  }
}
.theme-white .nav-icon-btn.nav-icon-btn-primary .label {
  background: #004466;
}
.theme-white .btn-primary {
  color: #ffffff;
}
.theme-white .btn-primary,
.theme-white .btn-primary:focus {
  border-color: #35aed0;
  border-bottom-color: #2b9bbb;
  background: #004466;
  background-image: -webkit-linear-gradient(top, #4eb8d6 0%, #35aed0 100%);
  background-image: linear-gradient(to bottom, #4eb8d6 0%, #35aed0 100%);
  background-repeat: repeat-x;
}
.theme-white .btn-primary:hover {
  color: #ffffff;
  border-color: #2ea6c8;
  border-bottom-color: #25839e;
  background: #35aed0 !important;
  background-image: -webkit-linear-gradient(top, #42b3d3 0%, #2ea6c8 100%) !important;
  background-image: linear-gradient(to bottom, #42b3d3 0%, #2ea6c8 100%) !important;
  background-repeat: repeat-x;
}
.theme-white .btn-primary:active,
.theme-white .btn-primary.active,
.open .theme-white .btn-primary.dropdown-toggle {
  background: none;
  background: #39afd1 !important;
  border-color: #004466;
  border-bottom-color: #004466 !important;
  color: #ffffff;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1) inset;
}
.theme-white .btn-primary.btn-flat {
  background: #3eb1d2;
}
.theme-white .btn-primary.btn-flat:hover,
.theme-white .btn-primary.btn-flat:active,
.theme-white .btn-primary.btn-flat.active,
.open .theme-white .btn-primary.btn-flat.dropdown-toggle {
  background: #3eb1d2 !important;
  color: #ffffff;
}
.theme-white .btn-primary.btn-outline:hover,
.theme-white .btn-primary.btn-outline.btn-flat:hover {
  color: #ffffff;
  border-color: #2ea6c8;
  border-bottom-color: #25839e;
}
.theme-white .btn-primary.btn-outline:active,
.theme-white .btn-primary.btn-outline.btn-flat:active {
  border-color: #004466;
}
.btn-group .theme-white .btn-primary,
.btn-group .theme-white .btn-primary:focus,
.input-group-btn .theme-white .btn-primary,
.input-group-btn .theme-white .btn-primary:focus {
  border-left-color: #2ea6c8;
  border-right-color: #2ea6c8;
}
.btn-group .theme-white .btn-primary:hover,
.btn-group.open .theme-white .btn-primary.dropdown-toggle,
.input-group-btn .theme-white .btn-primary:hover,
.input-group-btn.open .theme-white .btn-primary.dropdown-toggle {
  border-color: #2ea6c8;
  border-bottom-color: #25839e;
}
.btn-group .theme-white .btn-primary:active,
.btn-group .theme-white .btn-primary.active,
.input-group-btn .theme-white .btn-primary:active,
.input-group-btn .theme-white .btn-primary.active {
  border-left-color: #004466;
  border-right-color: #004466;
}
.theme-white .open .btn.btn-primary.dropdown-toggle {
  color: #fff;
  border-bottom-color: #004466 !important;
  background: none;
  background: #39afd1 !important;
}
.theme-white .progress-bar {
  background: #004466;
  border-color: #31accf;
}
.theme-white .progress-striped .progress-bar {
  background-color: #004466;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.1)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.1)), color-stop(0.75, rgba(255, 255, 255, 0.1)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-size: 10px 10px;
}
.theme-white .label.label-primary {
  background: #004466;
}
.theme-white .label.label-primary[href]:hover,
.theme-white .label.label-primary[href]:focus {
  background-color: #2c9fc0;
}
.theme-white .label.label-primary.label-tag {
  border: 1px solid #004466;
}
.theme-white .label.label-primary.label-tag:before {
  border-color: transparent #004466 transparent transparent;
}
.theme-white .label.label-primary.label-tag[href]:hover,
.theme-white .label.label-primary.label-tag[href]:focus {
  border-color: #2c9fc0;
}
.theme-white .label.label-primary.label-tag[href]:hover:before,
.theme-white .label.label-primary.label-tag[href]:focus:before {
  border-color: transparent #2c9fc0 transparent transparent;
}
.right-to-left .theme-white .label.label-primary.label-tag:before {
  border-color: transparent transparent transparent #004466;
}
.right-to-left .theme-white .label.label-primary.label-tag[href]:hover:before,
.right-to-left .theme-white .label.label-primary.label-tag[href]:focus:before {
  border-color: transparent transparent transparent #2c9fc0;
}
.ie8 .right-to-left .theme-white .label.label-primary.label-tag:before,
.ie9 .right-to-left .theme-white .label.label-primary.label-tag:before {
  border-color: transparent #004466 transparent transparent;
}
.ie8 .right-to-left .theme-white .label.label-primary.label-tag[href]:hover:before,
.ie8 .right-to-left .theme-white .label.label-primary.label-tag[href]:focus:before,
.ie9 .right-to-left .theme-white .label.label-primary.label-tag[href]:hover:before,
.ie9 .right-to-left .theme-white .label.label-primary.label-tag[href]:focus:before {
  border-color: transparent #2c9fc0 transparent transparent;
}
.theme-white.right-to-left .label.label-primary.label-tag:before {
  border-color: transparent transparent transparent #004466;
}
.theme-white.right-to-left .label.label-primary.label-tag:hover:before,
.theme-white.right-to-left .label.label-primary.label-tag:focus:before {
  border-color: transparent transparent transparent #2c9fc0;
}
.ie8 .theme-white.right-to-left .label.label-primary.label-tag:before,
.ie9 .theme-white.right-to-left .label.label-primary.label-tag:before {
  border-color: transparent #004466 transparent transparent;
}
.ie8 .theme-white.right-to-left .label.label-primary.label-tag:hover:before,
.ie8 .theme-white.right-to-left .label.label-primary.label-tag:focus:before,
.ie9 .theme-white.right-to-left .label.label-primary.label-tag:hover:before,
.ie9 .theme-white.right-to-left .label.label-primary.label-tag:focus:before {
  border-color: transparent #2c9fc0 transparent transparent;
}
.theme-white .badge.badge-primary {
  background: #004466;
  border: 1px solid #004466;
}
.theme-white .badge.badge-primary[href]:hover,
.theme-white .badge.badge-primary[href]:focus {
  background-color: #2c9fc0;
  border-color: #2c9fc0;
}
.theme-white .badge.badge-primary {
  background: #004466;
  border: 1px solid #004466;
}
.theme-white .badge.badge-primary[href]:hover,
.theme-white .badge.badge-primary[href]:focus {
  background-color: #2c9fc0;
  border-color: #2c9fc0;
}
.theme-white .table-primary table {
  border-top-color: #3b8fa6 !important;
}
.theme-white .table-primary thead,
.theme-white .table-primary thead tr,
.theme-white .table-primary thead th,
.theme-white .table-primary .table-header {
  border-color: #3b8fa6 !important;
  color: #ffffff;
}
.theme-white .table-primary thead tr,
.theme-white .table-primary thead th {
  background: #3ba6c5;
}
.theme-white .table-primary .table-header {
  background: #004466;
}
.theme-white .nav-tabs > li.active > a,
.theme-white .nav-tabs > li.active > a:hover,
.theme-white .nav-tabs > li.active > a:focus {
  background: #004466;
  border-bottom: 2px solid #cdcdcd;
}
.theme-white .nav-tabs .nav-tabs.nav-justified > .active > a {
  border-bottom-color: #35aed0;
}
.theme-white .nav-pills > li.active > a,
.theme-white .nav-pills > li.active > a:hover,
.theme-white .nav-pills > li.active > a:focus {
  background: #004466;
}
.theme-white .dropdown-menu > li > a:hover,
.theme-white .dropdown-menu > li.active > a {
  background: #004466;
}
.theme-white .dropdown-menu > li > a:hover {
  color: #ffffff;
}
.theme-white .btn-group .btn-primary,
.theme-white .btn-group .btn-primary:focus,
.theme-white .input-group-btn .btn-primary,
.theme-white .input-group-btn .btn-primary:focus {
  border-left-color: #2ea6c8;
  border-right-color: #2ea6c8;
}
.theme-white .btn-group .btn-primary:hover,
.theme-white .btn-group.open .btn-primary.dropdown-toggle,
.theme-white .input-group-btn .btn-primary:hover,
.theme-white .input-group-btn.open .btn-primary.dropdown-toggle {
  border-color: #004466;
}
.theme-white .btn-group .btn-primary:active,
.theme-white .btn-group .btn-primary.active,
.theme-white .input-group-btn .btn-primary:active,
.theme-white .input-group-btn .btn-primary.active {
  border-left-color: #004466;
  border-right-color: #004466;
}
.theme-white .pagination > li > a:hover {
  border-color: #004466;
}
.theme-white .pagination > li.active > a,
.theme-white .pagination > li.active > a:hover,
.theme-white .pagination > li.active > a:focus,
.theme-white .pagination > li.active > span {
  background: #004466;
  border-color: #004466;
}
.theme-white .pager li > a:hover {
  border-color: #004466;
}
.theme-white a.list-group-item.active {
  background: #004466;
  border-color: #004466;
}
.theme-white a.list-group-item.active .list-group-item-text {
  color: #f0f9fb;
}
.theme-white .form-control:focus,
.theme-white .form-control.focus {
  border-color: #004466;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.gt-ie8 .theme-white input.px:focus + .lbl:before,
.gt-ie8 .theme-white input.px + .lbl:hover:before {
  border-color: #004466;
}
.gt-ie8 .theme-white input[type="checkbox"].px + .lbl:after {
  color: #004466;
}
.gt-ie8 .theme-white input[type="radio"].px + .lbl:after {
  background: #004466;
}
.theme-white .text-primary,
.theme-white .text-primary:hover,
.theme-white .text-primary:active,
.theme-white .text-primary:focus,
.theme-white .text-primary a,
.theme-white .text-primary a:focus {
  color: #004466;
}
.theme-white .text-primary a:hover,
.theme-white .text-primary a:active {
  color: #288eab;
}
.theme-white .bg-primary {
  background: #004466 !important;
}
.theme-white .bg-primary[href]:hover {
  background: #45adcb !important;
}
.theme-white .bg-primary.darken {
  background: #45adcb !important;
}
.theme-white .bg-primary.darken[href]:hover {
  background: #39a8c8 !important;
}
.theme-white .bg-primary.darker {
  background: #39a8c8 !important;
}
.theme-white .bg-primary.darker[href]:hover {
  background: #359ebc !important;
}
.theme-white .bg-primary,
.theme-white .bg-primary:hover,
.theme-white .bg-primary:active,
.theme-white .bg-primary:focus,
.theme-white .bg-primary a,
.theme-white .bg-primary a:focus {
  color: #ffffff;
}
.theme-white .bg-primary a:hover,
.theme-white .bg-primary a:active {
  color: #d9d9d9;
}
.theme-white .bg-primary[href]:hover,
.theme-white .bg-primary [href]:hover {
  color: #fff;
}
.theme-white .bg-primary * {
  border-color: #67c2dc;
}
.theme-white .bg-secondary {
  background: #efefef !important;
}

.theme-white .ui-slider-handle.ui-state-active:before {
  background: #004466;
}
.theme-white .ui-slider-range {
  background: #004466;
}
.theme-white .ui-autocomplete > li > a:hover,
.theme-white .ui-autocompletev > li.active > a {
  background: #004466;
}
.theme-white .ui-autocomplete > li > a:hover {
  color: #ffffff;
}
.theme-white .ui-autocomplete .ui-state-focus {
  background: #004466;
  color: #ffffff;
}
.theme-white .ui-menu .ui-menu-item a:hover,
.theme-white .ui-menu .ui-menu-item a.ui-state-focus,
.theme-white .ui-menu .ui-menu-item a.ui-state-active {
  background: #004466;
}
.theme-white .ui-progressbar-value {
  background: #004466;
  border-color: #31accf;
  background-color: #004466;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.1)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.1)), color-stop(0.75, rgba(255, 255, 255, 0.1)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-size: 10px 10px;
}
.theme-white .ui-tabs-nav > .ui-tabs-active > a,
.theme-white .ui-tabs-nav > .ui-tabs-active > a:hover,
.theme-white .ui-tabs-nav > .ui-tabs-active > a:focus {
  color: #fff;
  background: #004466;
  border-bottom: 2px solid #35aed0;
}
.theme-white .ui-datepicker .ui-state-active {
  background: #004466 !important;
}
.theme-white .ui-datepicker-title {
  background: #004466;
}
.theme-white .ui-datepicker th {
  background: #4ea0b7;
}
.theme-white .ui-datepicker-buttonpane button.ui-priority-primary {
  color: #ffffff;
}
.theme-white .ui-datepicker-buttonpane button.ui-priority-primary,
.theme-white .ui-datepicker-buttonpane button.ui-priority-primary:focus {
  border-color: #35aed0;
  border-bottom-color: #2b9bbb;
  background: #004466;
  background-image: -webkit-linear-gradient(top, #4eb8d6 0%, #35aed0 100%);
  background-image: linear-gradient(to bottom, #4eb8d6 0%, #35aed0 100%);
  background-repeat: repeat-x;
}
.theme-white .ui-datepicker-buttonpane button.ui-priority-primary:hover {
  color: #ffffff;
  border-color: #2ea6c8;
  border-bottom-color: #25839e;
  background: #35aed0 !important;
  background-image: -webkit-linear-gradient(top, #42b3d3 0%, #2ea6c8 100%) !important;
  background-image: linear-gradient(to bottom, #42b3d3 0%, #2ea6c8 100%) !important;
  background-repeat: repeat-x;
}
.theme-white .ui-datepicker-buttonpane button.ui-priority-primary:active,
.theme-white .ui-datepicker-buttonpane button.ui-priority-primary.active,
.open .theme-white .ui-datepicker-buttonpane button.ui-priority-primary.dropdown-toggle {
  background: none;
  background: #39afd1 !important;
  border-color: #004466;
  border-bottom-color: #004466 !important;
  color: #ffffff;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1) inset;
}
.theme-white .ui-datepicker-buttonpane button.ui-priority-primary.btn-flat {
  background: #3eb1d2;
}
.theme-white .ui-datepicker-buttonpane button.ui-priority-primary.btn-flat:hover,
.theme-white .ui-datepicker-buttonpane button.ui-priority-primary.btn-flat:active,
.theme-white .ui-datepicker-buttonpane button.ui-priority-primary.btn-flat.active,
.open .theme-white .ui-datepicker-buttonpane button.ui-priority-primary.btn-flat.dropdown-toggle {
  background: #3eb1d2 !important;
  color: #ffffff;
}
.theme-white .ui-datepicker-buttonpane button.ui-priority-primary.btn-outline:hover,
.theme-white .ui-datepicker-buttonpane button.ui-priority-primary.btn-outline.btn-flat:hover {
  color: #ffffff;
  border-color: #2ea6c8;
  border-bottom-color: #25839e;
}
.theme-white .ui-datepicker-buttonpane button.ui-priority-primary.btn-outline:active,
.theme-white .ui-datepicker-buttonpane button.ui-priority-primary.btn-outline.btn-flat:active {
  border-color: #004466;
}
.btn-group .theme-white .ui-datepicker-buttonpane button.ui-priority-primary,
.btn-group .theme-white .ui-datepicker-buttonpane button.ui-priority-primary:focus,
.input-group-btn .theme-white .ui-datepicker-buttonpane button.ui-priority-primary,
.input-group-btn .theme-white .ui-datepicker-buttonpane button.ui-priority-primary:focus {
  border-left-color: #2ea6c8;
  border-right-color: #2ea6c8;
}
.btn-group .theme-white .ui-datepicker-buttonpane button.ui-priority-primary:hover,
.btn-group.open .theme-white .ui-datepicker-buttonpane button.ui-priority-primary.dropdown-toggle,
.input-group-btn .theme-white .ui-datepicker-buttonpane button.ui-priority-primary:hover,
.input-group-btn.open .theme-white .ui-datepicker-buttonpane button.ui-priority-primary.dropdown-toggle {
  border-color: #2ea6c8;
  border-bottom-color: #25839e;
}
.btn-group .theme-white .ui-datepicker-buttonpane button.ui-priority-primary:active,
.btn-group .theme-white .ui-datepicker-buttonpane button.ui-priority-primary.active,
.input-group-btn .theme-white .ui-datepicker-buttonpane button.ui-priority-primary:active,
.input-group-btn .theme-white .ui-datepicker-buttonpane button.ui-priority-primary.active {
  border-left-color: #004466;
  border-right-color: #004466;
}
.theme-white .select2-drop-active,
.theme-white .select2-container-multi.select2-container-active .select2-choices,
.theme-white .select2-container-multi.select2-dropdown-open .select2-choices {
  border: 1px solid #004466;
}
.theme-white .select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #004466;
}
.theme-white .select2-container-active .select2-choice,
.theme-white .select2-container-active .select2-choices {
  border: 1px solid #004466;
}
.theme-white .select2-dropdown-open .select2-drop-above .select2-choice,
.theme-white .select2-dropdown-open .select2-drop-above .select2-choices {
  border: 1px solid #004466;
  border-top-color: #aaa;
}
.theme-white .select2-results .select2-highlighted {
  background: #004466;
}
.theme-white .select2-primary .select2-container-multi .select2-choices .select2-search-choice {
  background: #004466;
}
.theme-white .select2-primary .select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #2c9fc0;
}
.theme-white .select2-primary .select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  background: #004466 !important;
}
.theme-white .switcher-primary .switcher-state-on {
  background: #004466 !important;
}
.theme-white .pixel-file-input:hover {
  border-color: #004466;
}
.theme-white .datepicker table tr td.selected,
.theme-white .datepicker table tr td.selected:hover,
.theme-white .datepicker table tr td.selected.disabled,
.theme-white .datepicker table tr td.selected.disabled:hover {
  background: #004466;
}
.theme-white .datepicker table tr td.active,
.theme-white .datepicker table tr td.active:hover,
.theme-white .datepicker table tr td.active.disabled,
.theme-white .datepicker table tr td.active.disabled:hover {
  background: #004466;
}
.theme-white .datepicker table tr td span.active,
.theme-white .datepicker table tr td span.active:hover,
.theme-white .datepicker table tr td span.active.disabled,
.theme-white .datepicker table tr td span.active.disabled:hover {
  background: #004466;
}
.theme-white .datepicker thead tr {
  background: #4ea0b7;
}
.theme-white .datepicker thead tr:first-child {
  background: #004466 !important;
  border-bottom-color: #4c8595 !important;
}
.theme-white .datepicker thead th.prev,
.theme-white .datepicker thead th.next {
  background: #004466;
}
.theme-white .datepicker thead th.prev {
  border-color: #4c8595;
}
.theme-white .datepicker thead th.next {
  border-color: #4c8595;
}
.theme-white .datepicker > .datepicker-days thead tr:first-child th.cw + .prev {
  border-color: #4c8595;
}
.theme-white .datepicker > .datepicker-days thead tr:last-child th.cw + th {
  border-color: #4c8595;
}
.theme-white .bootstrap-timepicker-widget table td a:hover {
  background: #004466;
  border-color: #004466;
}
.theme-white .pagination a.dp-today,
.theme-white .pagination a.dp-today:hover {
  background: #73c7df;
  border-color: #5fbeda;
}
.theme-white .pagination a.dp-today:hover {
  border-color: #004466 !important;
}
.theme-white .pagination a.dp-selected {
  background: #004466 !important;
  border-color: #004466 !important;
}
.theme-white .tt-suggestion.tt-is-under-cursor {
  background: #004466;
}
.theme-white .table-primary .dataTables_wrapper .DT-per-page {
  border-color: #3b8fa6 !important;
}
.theme-white .dropzone-box.dz-drag-hover {
  border-color: #004466;
}
.theme-white .dropzone-box:hover .fa.fa-cloud-upload {
  background: #004466;
}
.theme-white .md-editor.active {
  border-color: #004466;
}
.theme-white .widget-rating .active a {
  color: #004466;
}
