    <div id="main-menu" role="navigation">
		<div id="main-menu-inner">
			<ul class="navigation">
				<li>
					<a href="index.html"><i class="menu-icon fa fa-search"></i><span class="mm-text">Suche</span></a>
				</li>
				<li class="mm-dropdown">
                    <a href="#"><i class="menu-icon fa fa-gear"></i><span class="mm-text">Einstellungen</span></a>
                    <ul>
						<li>
                            <a tabindex="-1" href="settings-file-collector.html"><i class="menu-icon fa fa-files-o"></i><span class="mm-text">Dateisystem Einstellungen</span></a>
                        </li>
						<li>
                            <a tabindex="-1" href="settings-email-collector.html"><i class="menu-icon fa fa-envelope-o"></i><span class="mm-text">Email Einstellungen</span></a>
                        </li>
                    </ul>
				</li>
			</ul> <!-- / .navigation -->
		</div> <!-- / #main-menu-inner -->
    </div>
    <div id="main-navbar" class="navbar navbar-inverse" role="navigation">
		<!-- Main menu toggle -->
		<div class="navbar-inner">
			<!-- Main navbar header -->
			<div class="navbar-header">
                <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text"></span></button>
				<!-- Logo -->
				<a href="index.html" class="navbar-brand">
					<div><img alt="neoInt:home" src="assets/images/neoint/neoInt_home_logo_small.png"></div>
				</a>
			</div> <!-- / .navbar-header -->

			<div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
				<div>
					<div class="right clearfix">
					</div> <!-- / .right -->
				</div>
			</div> <!-- / #main-navbar-collapse -->
		</div> <!-- / .navbar-inner -->
    </div>
